body    {   background-color: #E8E8E8 !important;   }

header {
    padding: 20px;
    background-color: red;
    /* margin-bottom: 11vh; */
}

main    {   margin: 85.7px 0px 49px 0px !important;  }

table   {
    border: 5px solid black !important;
    border-radius: 15px !important;
}

td, th  {   font-size: large;   }

.image-holder    {
    background-color: white !important;
    border: 5px solid black !important;
    border-radius: 15px;
    padding: 5vh;
    margin: 5vh 0vh 5vh 0vh;
}

#bottom-menu    {
    color: white !important;
    text-align: right !important;
}